[submodule "js/help-esb.js"]
	path = js/help-esb.js
	url = git@github.com:nubs/help-esb.js
[submodule "js/help-fem.js"]
	path = js/help-fem.js
	url = git@github.com:nubs/help-fem.js
[submodule "js/help-fem-command-manager.js"]
	path = js/help-fem-command-manager.js
	url = git@github.com:nubs/help-fem-command-manager.js
[submodule "js/ampersand-search-select"]
	path = js/ampersand-search-select
	url = git@github.com:nubs/ampersand-search-select
[submodule "js/ampersand-time-range"]
	path = js/ampersand-time-range
	url = git@github.com:nubs/ampersand-time-range
